[submodule "Intro/lib/forge-std"]
	path = Intro/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Intro/lib/foundry-devops"]
	path = Intro/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
